# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local

# Vercel
.vercel

# Project specific
/src/generated/prisma
/prisma/dev.db
/prisma/dev.db-journal
/public/uploads/events/*

# Temporary files
*.txt